*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-size: 22px;
}
body{
    background-color: #48D1CC;
    /*background-color:  #66CDC39C;*/
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.wrapper{
    width: 450px;
    background-color: #E0FFFF;
    padding: 70px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 25px 25px #008080;
    text-shadow: 2px 2px 4px white;
    border-radius: 68px;
    display: flex;
    justify-content: space-between;
}
.container{
    width: 45%;
}
input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #778899;
    outline: none;
    margin-top: 8px;
    padding: 0 10px;
    box-shadow:0 0 4px #48D1CC;
}
input:focus{
    border-color: #00FFFF;
}
